* {
  box-sizing: border-box;
}

body {
  background-color: #222222;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

main {
  background-color: #363636;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 90%;
}

.h1-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  color: white;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.display-section {
  background-color: #a6a6a6;
  height: 50%;
  width: 100%;
}

.button-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 25%;
}

button {
  height: 60px;
  width: 100px;
  font-size: larger;
  color: white;
  background-color: rgb(2, 137, 255);
  border: none;
  border-radius: 10px;
}